.morendizhi{
 background: #fff;
}

.morendizhi i{
  float: left;
}
.morendizhi span{
  float: left;
    margin-left:10px;
    font-size:1.6rem;
}

.morentubiao{
    color:#fd4c06;
}
.tit .alert-wrapper{
    border-radius:5px;
    width:95%;

}
.but{
    color:blue;
}
.tit .alert-head{
    background:rgba(0,0,0,0.8);
    padding:5px 0 10px 0!important;
    color:white;
}
.tit .alert-message{
    padding:0!important;
    margin:0;
}
.tit .alert-button{
    background:#e6e5e1;
    font-weight: normal;
    color:rgba(0,0,0,0.5);
    border-color:rgba(0,0,0,0.3);;
}
.dizhi_tishi{
   padding:10px;
   text-align:center;
   font-size:1.3rem!important;
   background:white;
}
.makesure{
    background:#fd4c06;
    color:white;
    font-size:1.6rem;
    text-align:center;
    padding:10px 0;
}
.makesure2{
    background:gray;
}
