page-consumption {

}
.beijing11{
  position: relative;
  width: 100%;
  height: 15.625em;
  text-align: center;
  background: url("../assets/img/633060961000876480.png") no-repeat;
  background-size: 100% 100%;
}
.yue{
  width: 100%;
  text-align: center;
}
.yue111{
  font-size: 13px;
  color: white;
  padding-top: 2em;
}
.yue222{
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin-top:50px;
  padding: 0;
}
.ice.title.title-ios div{ color: #FFFFFF;}
.ice-back .ion-ios-arrow-back:before{ color: #FFFFFF;}
.bar-dark .toolbar-background.toolbar-background-ios{ background: #2065d7;}
