page-recharges {

}
.beijing{
  position: relative;
  width: 100%;
  height: 15.625em;
  text-align: center;
  background: url("../assets/img/807335237976647230.png") no-repeat;
  background-size: 100% 100%;
}
.yue{
  width: 100%;
  text-align: center;
}
.yue1{
  font-size: 13px;
  color: white;
  margin-top: 3.75em;
  margin-bottom: 0;
}
.yue2{
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 0;padding: 0;
}
.fanli{
  position: absolute;
  width: 100%;
  top: 11.5em;
  text-align: center;
  z-index: 9999;
}
.fanli p{
  margin: 0;padding: 0;
}
.zi{
  font-size: 10px;
  color: #f1eeee;
}
.shuzi{
  font-size: 18px;
  color: white;
}
.tian.title.title-ios div{ color: #FFFFFF;}
.tian-back .ion-ios-arrow-back:before{ color: #FFFFFF;}
.tian-head .toolbar-background.toolbar-background-ios{ background: #3890e3;}
