<ion-header>
  <ion-toolbar>
    <ion-navbar></ion-navbar>
    <ion-title>积分互转</ion-title>
    <ion-buttons end margin-right>
      <button (click)="tojifenList()">
        <div>记录</div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="jifen">
  <form [formGroup]="myForm">

    <ion-list>
      <div>
        <ion-item>
          <ion-label>转账类型</ion-label>
          <ion-select (ngModelChange)="hehe($event)" formControlName="TransferType" placeholder="请选择转账类型" okText="确定" cancelText="取消">
            <ion-option selected="" value="天天奖励">天天奖励</ion-option>
            <ion-option value="动态奖励">动态奖励</ion-option>
            <!--<ion-option value="报单金额">报单金额</ion-option>-->
          </ion-select>
          <!--ion-input type="text" formControlName="TransferType" readonly="true" value="{{jifenType}}" (click)="selectPopover($event)"
            placeholder="请选择转账类型"></ion-input-->
        </ion-item>
        <ion-item>
          <ion-label>余额</ion-label>
          <ion-input type="number" value="{{shouyiShow}}" value="" readonly="true"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label>交易数额</ion-label>
        <ion-input type="number" placeholder="请输入正整数" formControlName="MoneySum" (input)="validMax($event)" value=""></ion-input>
      </ion-item>
      <div [hidden]="myForm.get('MoneySum').untouched" class="error bgf">
        <div *ngIf="myForm.get('MoneySum').hasError('pattern')">
          <p no-margin>
            <ion-icon name="alert" float-left isActive="false"></ion-icon><span>交易数额必须是正整数</span>
          </p>
        </div>
        <div *ngIf="maxNumber">
          <p no-margin>
            <ion-icon name="alert" float-left isActive="false"></ion-icon><span>交易数额必须小于所剩余额</span>
          </p>
        </div>
      </div>

      </div>
      <ion-item>
        <ion-label>接受会员ID</ion-label>
        <ion-input type="text" placeholder="请输入对方ID号" formControlName="userID"></ion-input>
      </ion-item>
      <div *ngIf="userID.value == uid" class="error bgf">
        <p no-margin>
          <ion-icon name="alert" float-left isActive="false"></ion-icon><span>交易对象不能是自己</span>
        </p>
      </div>
      <ion-item>
        <ion-label>会员姓名</ion-label>
        <ion-input type="text" placeholder="输入对方ID自动匹配姓名" [(ngModel)]="username" formControlName="AcceptUserName" readonly="true" [(ngModel)]="username"></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button block margin-bottom (tap)="codePopover($event)" [disabled]='myForm.invalid || maxNumber || show'>转账</button>
    </div>
  </form>
</ion-content>
